{% extends "Hydroxychloroquine/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'Hydroxychloroquine/account.css' %}" />

{% endblock style %}
{% block content %}
<div class="container" id="accountInfo">
    <div class="col justify-content-center">
        <h1>My Account</h1>
        <!-- User's personal information -->
        <h2>Personal Information</h2>
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">Name</li>
                    <li class="list-group-item">Email</li>
                    <!-- <li class="list-group-item">UGA ID</li> -->
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{request.user.display_name}}</li>
                    <li class="list-group-item">{{request.user.email}}</li>
                    <!-- <li class="list-group-item">nrc10711</li> -->
                </ul>
            </div>
        </div>
        <div class="row row-edit">
            <button type="button" id="editButton" class="btn btn-secondary"style="margin: 15px;">Edit Account</button>
        </div>
        <!-- for debugging -->
        <!-- <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">is_staff</li>
                    <li class="list-group-item">is_active</li>
                    <li class="list-group-item">is_verified</li>
                    <li class="list-group-item">first_login</li>
                    <li class="list-group-item">date_joined</li>
                    <li class="list-group-item">user_type</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{request.user.is_staff}}</li>
                    <li class="list-group-item">{{request.user.is_active}}</li>
                    <li class="list-group-item">{{request.user.is_verified}}</li>
                    <li class="list-group-item">{{request.user.first_login}}</li>
                    <li class="list-group-item">{{request.user.date_joined}}</li>
                    <li class="list-group-item">{{request.user.user_type}}</li>
                </ul>
            </div>
        </div> -->
        <!-- end debugging -->
        <div class="form-group col top">
            <p>Select which buildings and times you would like to be notified for potential covid exposure</p>
            {% include "Hydroxychloroquine/selectBuildings.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<!-- Buildings the user selected -->
<!-- This is mostly hardcoded for the purpose of the UI demo. Our Actual website will probably need a list with its own scrollbar. -->

<div class="form-gap"></div>"
{% endblock content %}
