{% extends "Hydroxychloroquine/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'Hydroxychloroquine/account.css' %}" />
<script src="{% static 'Hydroxychloroquine/reportTest.js' %}"></script>
{% endblock style %}
{% block content %}
<div class="container" id="accountInfo">
    <div class="col justify-content-center">
        <h1>My Account</h1>
        <!-- User's personal information -->
        <h2>Personal Information</h2>
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">Name</li>
                    <li class="list-group-item">Email</li>
                    <!-- <li class="list-group-item">UGA ID</li> -->
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{request.user.display_name}}</li>
                    <li class="list-group-item">{{request.user.email}}</li>
                    <!-- <li class="list-group-item">nrc10711</li> -->
                </ul>
            </div>
        </div>

        <!-- for debugging -->
        <!-- <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">is_staff</li>
                    <li class="list-group-item">is_active</li>
                    <li class="list-group-item">is_verified</li>
                    <li class="list-group-item">first_login</li>
                    <li class="list-group-item">date_joined</li>
                    <li class="list-group-item">user_type</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{request.user.is_staff}}</li>
                    <li class="list-group-item">{{request.user.is_active}}</li>
                    <li class="list-group-item">{{request.user.is_verified}}</li>
                    <li class="list-group-item">{{request.user.first_login}}</li>
                    <li class="list-group-item">{{request.user.date_joined}}</li>
                    <li class="list-group-item">{{request.user.user_type}}</li>
                </ul>
            </div>
        </div> -->
        <!-- end debugging -->
        <div class="form-group col top">
            <p>Select which buildings and times you would like to be notified for potential covid exposure</p>
            {% include "Hydroxychloroquine/selectBuildings.html" %}
        </div>
    </div>
</div>

<!-- Buildings the user selected -->
<!-- This is mostly hardcoded for the purpose of the UI demo. Our Actual website will probably need a list with its own scrollbar. -->

<div class="form-gap"></div>"
{% endblock content %}
