{% extends "Hydroxychloroquine/base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'Hydroxychloroquine/account.css' %}" />



{% endblock style %}

{% block javascript %}
  <script>
    // https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });

    });
  </script>
{% endblock %}

{% block content %}
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{form_userchange}}
          <input type="submit" value="Save Changes">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="submit" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<div class="container" id="accountInfo">
  <div class="col justify-content-center">
    <h1>My Account</h1>
    <div class="row justify-content-around">
      <h2>Personal Information</h2>
      <h2>Selected Buildings</h2>
    </div>

    <!-- User's personal information -->
    <div class="row justify-content-around">
      <div class="row justify-content-left">
          <ul class="list-group">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Email</li>
            <!-- <li class="list-group-item">UGA ID</li> -->
          </ul>
          <ul class="list-group">
            <li class="list-group-item">{{request.user.display_name}}</li>
            <li class="list-group-item">{{request.user.email}}</li>
            <!-- <li class="list-group-item">nrc10711</li> -->
          </ul>
      </div>

      <!-- User's selected buildings-->
      <div class="row justify-content-right">
        <ul class="list-group">
          {% for bldg in building %}
          <form method="POST">
            {% csrf_token %}
            <!-- <li class="list-group-item"></li>{{forloop.counter }} : {{bldg.building_id}}</li> -->
          </form>
          {% endfor %}
          {% for excur in users_excursions %}
          <form method="POST">
            {% csrf_token %}
            <li class="list-group-item">
              <!-- <ul class="list-group"> -->
              <ul class="list-group">
              <!-- {{ excur.report_id}} -->
              <!-- {{ excur.user_id}} -->
              {{ excur.building_id}}
              {{ excur.start_time}}
              {{ excur.end_time}}
              <button class = "btn btn-default" name="DeleteButton" value="{{ excur }}">Delete</button>
              </ul>
              <!-- <li class="list-group-item">excur.report_id</li>
              <li class="list-group-item">excur.user_id</li>
              <li class="list-group-item">excur.building_id</li>
              <li class="list-group-item">excur.start_time</li>
              <li class="list-group-item">excur.end_time</li> -->
            </li>
          </form>
          {% endfor %}

        </ul>
      </div>
    </div>


    <div class="row row-edit">
      <button type="button" id="editButton" class="btn btn-secondary" data-toggle="modal" data-target="#editModal"
        style="margin: 15px;">Edit Account</button>
      <a href="{% url 'password_change' %}" id="editButton" class="btn btn-secondary" style="margin: 15px;"> Change
        Password</a>
    </div>




    <!-- for debugging -->
    <!-- <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">is_staff</li>
                    <li class="list-group-item">is_active</li>
                    <li class="list-group-item">is_verified</li>
                    <li class="list-group-item">first_login</li>
                    <li class="list-group-item">date_joined</li>
                    <li class="list-group-item">user_type</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{request.user.is_staff}}</li>
                    <li class="list-group-item">{{request.user.is_active}}</li>
                    <li class="list-group-item">{{request.user.is_verified}}</li>
                    <li class="list-group-item">{{request.user.first_login}}</li>
                    <li class="list-group-item">{{request.user.date_joined}}</li>
                    <li class="list-group-item">{{request.user.user_type}}</li>
                </ul>
            </div>
        </div> -->
    <!-- end debugging -->
    <div class="form-group col top">
      <h4>Select which buildings and times you would like to be notified for potential covid exposure</h4>
      <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Submit buildings">

        {% include "Hydroxychloroquine/selectBuildings.html" %}
      </form>
    </div>
  </div>
</div>



<!-- Buildings the user selected -->
<!-- This is mostly hardcoded for the purpose of the UI demo. Our Actual website will probably need a list with its own scrollbar. -->

<div class="form-gap"></div>"
{% endblock content %}
