
{% extends "Hydroxychloroquine/dropdown_base.html" %}
{% load static %}
{% block content %}
<body>
    {% if success %}
    <h2>Thank you for verifying your email!</h2>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'Hydroxychloroquine-login' %}">Click here to return to the login page</a>
    </div>
    {% else %}
    <h2>Uh oh, it looks like there was a problem verifying your email. Please try again! </h2>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'Hydroxychloroquine-signup' %}"">Click here to return to the signup page</a>
    </div>
    {% endif %}
</body>
{% endblock content %}
