{% extends "Hydroxychloroquine/base.html" %}
{% load static %}
{% block style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Hydroxychloroquine/homeStyle.css' %}" />
{% endblock style %}
{% block content %}
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md">
              <div class="jumbotron" style="background-color: white">
                  <h1 class="display-5">Protect each other</h1>
                  <p class="lead">Reporting your test protects the people you care about lets others protect those they care about</p>
                  <a class="btn btn-secondary btn-lg" href="{% url 'Hydroxychloroquine-reportTest' %}" role="button">Report a Test</a>
              </div>
          </div>
          <div class="col-md">
              <img src="{% static 'Hydroxychloroquine/uga-inspirational.jpg' %}" width="100%" class="rounded mx-auto d-block">
          </div>

      </div>
      <div class="row align-items-center">
          <div class="col-md">
              <img src="{% static 'Hydroxychloroquine/covidTesting.jpg' %}" width="100%" class="rounded">
          </div>
          <div class="col-md">
              <div class="jumbotron" style="background-color: white">
                  <h1 class="display-5">Protect Yourself</h1>
                  <p class="lead">Get tested regulary so you know if you need to quarantine</p>
                  <hr class="my-4">
                  <p>UGA offers free surveillance testing for asymptomatic individuals, now including spit tests! Sign up below!</p>
                  <a class="btn btn-secondary btn-lg" href="https://clia.vetview.vet.uga.edu/" role="button">Sign up!</a>
              </div>
          </div>

      </div>
      <div class="jumbotron">
          <h1 class="display-5">Stay informed</h1>
          <p class="lead">One of the most effective ways to fight covid is by making sure everyone has the latest information</p>
          <hr class="my-4">
          <div class="row">
              <a class="btn btn-secondary btn-lg btn-data" href="https://www.redandblack.com/coronavirus/" role="button">Local Covid News</a>
              <a class="btn btn-secondary btn-lg btn-data" href="{% url 'Hydroxychloroquine-data' %}" role="button">Local Covid Data</a>
              <a class="btn btn-secondary btn-lg btn-data" href="https://www.nytimes.com/news-event/coronavirus?name=styln-coronavirus&region=TOP_BANNER&block=storyline_menu_recirc&action=click&pgtype=Interactive&impression_id=95e7a160-2906-11eb-ac1e-1592fc81d428&variant=1_Show" role="button">National Covid News</a>
              <a class="btn btn-secondary btn-lg btn-data" href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html" role="button">National Covid Data</a>
          </div>
      </div>

{% endblock content %}
