{% extends "Hydroxychloroquine/base.html" %}
{% load static %}
{% block style %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'Hydroxychloroquine/reportTest.css' %}">
  <!-- <script src="{% static 'Hydroxychloroquine/reportTest.js' %}"></script> -->
{% endblock style %}
{% block content %}
<div class="container" id="reportTestForm">
    <div class="col justify-content-center">
        <form method="POST">
        {% csrf_token %}
            <div class="form-group top">
                <h3>Report your COVID-19 test result</h3>
                <p>
                    This page is for you to report your covid test result. If you report a positive test,
                    a vague version of the location data you post for the test will be posted on the main page
                    of this site so that people can see where they are at risk of exposure. People who have signed up
                    for notifications for buildings you are in will also be notified that someone who was in those
                    buildings tested positive. All data will be anonymous. If you do not wish to report what buildings
                    you were in, you do not have to.
                </p>
            </div>

            <div class="form-group top">
                <label for="id_test_result">Was your COVID-19 test result positive or negative?</label>
                <!-- Ben says maybe look at: -->
                <!-- https://stackoverflow.com/questions/48937939/how-do-i-customize-the-display-of-radio-buttons-in-a-django-template -->
                <div class="form-group col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="test_result" id="id_test_result_0" value="{{report_form.test_result.field.choices.0.0}}" checked>
                        <label class="form-check-label" for="id_test_result_0">{{report_form.test_result.field.choices.0.1}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="test_result" id="id_test_result_1" value="{{report_form.test_result.field.choices.1.0}}">
                        <label class="form-check-label" for="id_test_result_1">{{report_form.test_result.field.choices.1.1}}</label>
                    </div>
                </div>
            </div>

            <div class="form-group top">
                <label for="id_date_of_test">{{ report_form.date_of_test.label_tag }}</label>
                <input name="date_of_test" type="date" data-provide="datepicker" id="id_date_of_test" aria-describedby="dateClarification" class="form-control" required value="2020-11-07">
                <small id="dateClarification" class="form-text text-muted">This should be the date the test was administered on, not when you recieved the result.</small>
            </div>

            <div class="form-group top">
                <label for="id_date_of_test">{{ report_form.date_last_on_campus.label_tag }}</label>
                <input name="date_last_on_campus" type="date" data-provide="datepicker" id="id_date_last_on_campus" class="form-control" required value="2020-11-07">
            </div>
            
            <div class="form-group top">
                <label for="id_user_type">Which category do you fall in?</label>
                <div class="form-group col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="user_type" required id="id_user_type_0" value="1" checked>
                        <label class="form-check-label" for="id_user_type_0">{{report_form.user_type.field.choices.0.1}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="user_type" required id="id_user_type_2" value="2">
                        <label class="form-check-label" for="id_user_type_2">{{report_form.user_type.field.choices.1.1}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group col top">
              <p>Select which buildings you have been in during the last 3 days and times you were there</p>
              {% include "Hydroxychloroquine/selectBuildings.html" %}
              <input type="submit"  class="btn btn-secondary" value="Submit Form">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
