{% extends "Hydroxychloroquine/dropdown_base.html" %}
{% load static %}
{% block content %}
<body>
    <h2>We regret to inform you that based on the buildings you signed up for, you may have been exposed to covid.</h2>
    <div id="formFooter">
		<a class="underlineHover" href="https://clia.vetview.vet.uga.edu/">Click here to sign up for uga survillance testing</a>
		<a class="underlineHover" href="http://localhost:8000/data">Click here to see recent COVID-19 reports</a>
    </div>
</body>
{% endblock content %}
